* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    padding: 25px 25px;
    background-color: #eaf6f6;
  }
  
button {
    padding: 9px 25px;
    background-color: rgb(50, 138, 160);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  .workbutton:hover{
    background-color: #1052ae;
    color: white    ;
  }
  .nav-links {
    display: flex;
    list-style: none;
  }
  .nav-links li {
    padding-left: 5rem;
    font-size: 1.2rem;
  }
  #logo {
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
  }

  .header{
    display: flex;
    justify-content: space-around;
    margin: 10vh;
  }
  .headerimg{
    width: 35vw;
  }
.heading{
    background-color: #ffffff;
    text-align: center;
    min-height: 50vh;
    padding: 16vh 0;
}
.headings{
    /* margin: 5vh; */
}
.heading1{
    font-size: 4rem;
    padding: 20px;
}
.heading3{
    font-size: 1.6rem;
}

.ourWorks{
    display: flex;
    justify-content: space-around;
    padding: 20vh;
    background-color: #90e1f0;

}
    
.ourWorks h1{
    width: 35vw;

}
.ourWorks button{
    width: 15vw;
    background-color: #ffffff;
    border: none;
    border-radius: 4px ;
}
.colo{
    color:#006bff;
    font-style: italic;
}
.letsgo{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
.green{
    color: #e79a2e;
}

.reach h1{
    text-align: center;
    margin-top: 8vh;
    font-size: 2.5rem;
}
.reach table{
    margin: 5vh auto;
    text-align: center;
    
}
table,th,td
{
      border-bottom: 1px solid black;
    border-collapse: collapse;
}
tr{
    /* background-color: #D6EEEE; */
}

th,td{
    padding: 30px;
    border-color: #1d0d4f;
}
th{
    font-size: 1.5rem;
}

.applause{
    padding: 50px 0;
    /* display: flex;
    justify-content: space-around; */
    background-color: #bfb7f1;
    /* background-color: #e1f2ff; */
}

.applause h1,p{
    text-align: center;
    margin: 4vh;
    font-size: 1.1rem;
}
.applause h1{
    font-size: 2rem;

}
.audio{
}
.footer{
    /* background-color: rgba(0, 0, 0, 0.61); */
    text-align: center;
    /* color: #eaf6f6; */
}
.footer p{
    font-size:20px ;
}
.footer a{
    text-decoration: none;
}